<footer class="footer bg-dark py-3 mt-auto">
    <!-- margin top flex column, want 1 thing to move so dont use justify content -->
    <div class="container">
        <span class="text-secondary">&copy; YelpCamp 2024</span>
    </div>
</footer>